.board {
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	background-color: $board-color;
	position: relative;
	font-size: 32px;
	overflow: hidden;

	> div {
		position: absolute;
		background-color: $white;
		width: 25%;
		height: 0;
		padding-bottom: 25%;
		vertical-align: middle;
		text-align: center;
		opacity: 1;
		cursor: pointer;
		@include transform(rotate(0deg));
		@include transition-property(bottom, opacity, background, transform);
		@include transition-duration($slow);

		&.active {
			background: rgba($blue, .3);
		}

		&.destroying {
			opacity: 0;
		}

		&[data-val="0"] {
			color: transparent;
		}

		@for $i from 0 through 31 {
			$c: calc-color($i%16+1);
			&[data-val="#{$i}"] {
				background-color: rgba($c,.4);
				color: $c;

				&.active {
					background-color: rgba($c,.6);
					@include transform(rotate(360deg));
				}
			}
		}

		span {
			display: inline-block;
			position: absolute;
			left: 50%;
			top: 50%;
			@include transform(translateX(-50%) translateY(-50%));
		}
	}

	@media(max-width: 350px) {
		font-size: 26px;
	}
}